h1,
p {
  font-family: Lato;
  text-align: center;
}
body {
  background: black;
  color: white;
}
.row {
  display: flex;
  padding-bottom: 5px;
  padding: 2px;
}

.container {
  display: flex;
  justify-content: center;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 5px;
}
span {
  border: grey solid 2px;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  color: white;
}
.yellow {
  border-color: #fde12d;
}
.green {
  border-color: #03fcba;
}
.current {
  border-color: red;
}
.row span {
  height: 12px;
  width: 12px;
}
.letter {
  padding-right: 2px;
}
input {
  opacity: 0;
}
