* {
  font-family: serif;
}
h1 {
  text-align: center;
}
body {
  background: black;
  color: white;
}
.row {
  display: flex;
  padding-bottom: 5px;
  padding: 2px;
}

.container {
  display: flex;
  justify-content: center;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 5px;
}
span {
  border: white solid 2px;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  color: white;
}
.yellow {
  animation: fadeInYellow 3s;
  border-color: #fde12d;
}
.green {
  animation: fadeInGreen 3s;
  border-color: #03fcba;
}
.grey {
  border-color: grey;
}
.current {
  border-color: red;
}
.row span {
  height: 12px;
  width: 12px;
}
.container span {
  margin: 1.5px;
}
.letter {
  padding-right: 2px;
}
input {
  opacity: 0;
}
.off {
  display: none;
}
@keyframes fadeInGreen {
  from {
    border-color: grey;
  }
  to {
    border-color: #03fcba;
  }
}
@keyframes fadeInYellow {
  from {
    border-color: grey;
  }
  to {
    border-color: #fde12d;
  }
}
.answer {
  margin: auto;
  margin-bottom: 8px;
  border: solid white 2px;
  width: 185px;
  text-align: center;
  padding: 5px 5px;
}
