* {
  font-family: Consolas, Menlo, monospace;
}
h1 {
  text-align: center;
  text-shadow: 0px 0px 5px #03fcba;
  color: #82ffe4;
}
body {
  background: black;
  color: white;
}
.row {
  gap: 2px;
  display: flex;
  padding: 2px;
}
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 10px;
}
.letter {
  border: white solid 2px;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  color: white;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
}
.yellow {
  animation: fadeInYellow forwards 1.5s;
}
.green {
  animation: fadeInGreen forwards 1.5s;
}
.grey {
  animation: fadeInGrey forwards 1.5s;
}
.current {
  border-color: red;
}
.container span {
  margin: 1.5px;
}
input {
  opacity: 0;
}
.off {
  display: none;
}
@keyframes fadeInGreen {
  to {
    box-shadow: 0px 0px 5px #03fcba;
    border-color: #03fcba;
  }
}
@keyframes fadeInYellow {
  to {
    box-shadow: 0px 0px 5px #fde12d;
    border-color: #fde12d;
  }
}
@keyframes fadeInGrey {
  to {
    border-color: grey;
  }
}
.answer {
  margin: auto;
  margin-bottom: 8px;
  border: solid white 2px;
  width: 185px;
  text-align: center;
  padding: 5px 5px;
}
